{
	"type": "FeatureCollection",
	"features": [{
			"type": "Feature",
			"properties": {
				"name": "Central"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.304929,
							30.499126
						],
						[
							-84.330162,
							30.462004
						],
						[
							-84.305532,
							30.424597
						],
						[
							-84.255651,
							30.424296
						],
						[
							-84.230399,
							30.461404
						],
						[
							-84.255048,
							30.498826
						],
						[
							-84.304929,
							30.499126
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "NorthWest"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.330161,
							30.462005
						],
						[
							-84.304935,
							30.49913
						],
						[
							-84.344615,
							30.556047
						],
						[
							-84.343648,
							30.612581
						],
						[
							-84.37096,
							30.612914
						],
						[
							-84.417334,
							30.569771
						],
						[
							-84.416969,
							30.461773
						],
						[
							-84.330161,
							30.462005
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "North"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.255056,
							30.498828
						],
						[
							-84.229071,
							30.536996
						],
						[
							-84.253802,
							30.573814
						],
						[
							-84.254562,
							30.612655
						],
						[
							-84.343639,
							30.612582
						],
						[
							-84.34461,
							30.556049
						],
						[
							-84.304927,
							30.499125
						],
						[
							-84.255056,
							30.498828
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "NorthEast"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.230403,
							30.461396
						],
						[
							-84.113993,
							30.462392
						],
						[
							-84.114806,
							30.524219
						],
						[
							-84.174947,
							30.53621
						],
						[
							-84.229066,
							30.536994
						],
						[
							-84.255056,
							30.498829
						],
						[
							-84.230403,
							30.461396
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "SouthEast"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.230414,
							30.461396
						],
						[
							-84.255648,
							30.424291
						],
						[
							-84.223087,
							30.375687
						],
						[
							-84.113723,
							30.407481
						],
						[
							-84.113978,
							30.462393
						],
						[
							-84.230414,
							30.461396
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "South"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.305532,
							30.424597
						],
						[
							-84.33066,
							30.387461
						],
						[
							-84.305943,
							30.350039
						],
						[
							-84.2561,
							30.349738
						],
						[
							-84.22308,
							30.375689
						],
						[
							-84.255651,
							30.424296
						],
						[
							-84.305532,
							30.424597
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "SouthWest"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.330166,
							30.462007
						],
						[
							-84.416974,
							30.461778
						],
						[
							-84.417036,
							30.420445
						],
						[
							-84.382696,
							30.387992
						],
						[
							-84.330654,
							30.387463
						],
						[
							-84.305538,
							30.424598
						],
						[
							-84.330166,
							30.462007
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "Bradfordville"
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[
							-84.229075,
							30.536993
						],
						[
							-84.174943,
							30.536212
						],
						[
							-84.144154,
							30.558064
						],
						[
							-84.144476,
							30.591394
						],
						[
							-84.175195,
							30.611547
						],
						[
							-84.254566,
							30.612657
						],
						[
							-84.253822,
							30.573842
						],
						[
							-84.229075,
							30.536993
						]
					]
				]
			}
		},
		{
			"type": "Feature",
			"properties": {
				"name": "FSU Campus",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.307139, 30.449502],
						[-84.306961, 30.436045],
						[-84.301412, 30.435062],
						[-84.30041, 30.436237],
						[-84.300391, 30.437211],
						[-84.290573, 30.437009],
						[-84.2906, 30.438625],
						[-84.288987, 30.438665],
						[-84.288212, 30.439542],
						[-84.288373, 30.444739],
						[-84.294923, 30.444845],
						[-84.303054, 30.448743],
						[-84.307139, 30.449502]
					]
				]
			}
		}, {
			"type": "Feature",
			"properties": {
				"name": "Cascades",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.275505, 30.439213],
						[-84.277727, 30.439205],
						[-84.277609, 30.434967],
						[-84.28135, 30.435054],
						[-84.281206, 30.432293],
						[-84.276874, 30.432351],
						[-84.275091, 30.434199],
						[-84.274477, 30.437957],
						[-84.275505, 30.439213]
					]
				]
			}
		}, {
			"type": "Feature",
			"properties": {
				"name": "Lake Ella",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.276762, 30.46368],
						[-84.282929, 30.463758],
						[-84.281341, 30.458621],
						[-84.277164, 30.458719],
						[-84.276762, 30.46368]
					]
				]
			}
		}, {
			"type": "Feature",
			"properties": {
				"name": "Tom Brown Park",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.218764, 30.440115],
						[-84.21948, 30.450265],
						[-84.221835, 30.451755],
						[-84.2203, 30.454067],
						[-84.209771, 30.448658],
						[-84.209683, 30.440023],
						[-84.218764, 30.440115]
					]
				]
			}
		}, {
			"type": "Feature",
			"properties": {
				"name": "Midtown",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.282323, 30.458551],
						[-84.274975, 30.458693],
						[-84.278785, 30.449141],
						[-84.28313, 30.449122],
						[-84.282323, 30.458551]
					]
				]
			}
		}, {
			"type": "Feature",
			"properties": {
				"name": "Market Square",
				"area.sub": true
			},
			"geometry": {
				"type": "Polygon",
				"coordinates": [
					[
						[-84.25006, 30.51396],
						[-84.243092, 30.51096],
						[-84.24822, 30.50181],
						[-84.253545, 30.501888],
						[-84.256834, 30.504313],
						[-84.25006, 30.51396]
					]
				]
			}
		}
	]
}
