const Discord = require('discord.js');
module.exports = function(p) {

  /* AVAILABLE VARIABLES
    p.static_map : Static Map Tile
    p.grunt_type : Type of the Grunt Invasion
    p.weaknesses
    p.resistances
    p.type
    p.color
    p.gender : This is blank if it is a leader
    p.time : Time of Expiration
    p.mins : Minutes until expiration
    p.secs : Seconds until expiration. Add to p.mins make expiration time more accurate.
    p.lat
    p.lon
    p.area
    p.map_url
    p.google
    p.apple
    p.waze
    p.pmsf
    p.rdm
    p.encounters
    p.battles
    p.first
    p.second
    p.third
  */

  let invasion_embed = new Discord.RichEmbed()
  .setColor(p.color)
  .setThumbnail(p.sprite)
  .setAuthor(p.name, p.url)
  .addField('**'+p.grunt_type+'** Invasion '+p.type+p.gender,'**Invasion Expires**: '+p.time+' ('+p.mins+' Mins)')
  .addField('**Possible Encounter**:',p.encounters)
  .addField('Weakness(es): ',p.weaknesses,true)
  .addField('Resistance(s): ',p.resistances,true)
  .addField(p.area+': ',p.google+' | '+p.apple+' | '+p.pmsf, false)
  .setImage(p.static_map);

  return invasion_embed;
}
