const Discord = require('discord.js');
module.exports = function(p) {

  let lure_embed = new Discord.MessageEmbed()
  .setColor(p.color)
  .setThumbnail(p.sprite)
  .setAuthor(p.name, p.url)
  .setDescription('**'+p.type+'** Lure')
  .addField(p.area+': ',p.google+' | '+p.apple+' | '+p.pmsf, false)
  .setImage(p.static_map)
  .setFooter('Lure Expires at: '+p.time+' ('+p.mins+' Mins) ');

  return lure_embed;
}
