const Discord = require('discord.js');
module.exports = function(p) {

  let pokemon_embed = new Discord.RichEmbed()
  .setColor(p.color)
  .setThumbnail(p.sprite)
  .addField('**'+p.name+'** '+p.form+p.gender,p.verified+'| '+p.time+' (*'+p.mins+'m '+p.secs+'s*)\n'+p.type+p.weather_boost)
  .addField(p.area+' | Directions:',p.google+' | '+p.apple+' | '+p.pmsf, false)
  .setImage(p.map_img);

  return pokemon_embed;
}
