const Discord = require('discord.js');
const master_file = require('../static/masterfile.json');
module.exports = function(p) {

  let pvpString = "";
  for(var pokemon in p.possible_cps){
    pvpString += master_file.pokemon[pokemon].name+" Level "+p.possible_cps[pokemon].level+" CP "+p.possible_cps[pokemon].cp
                +" \n Rank: "+p.possible_cps[pokemon].rank+"("+p.possible_cps[pokemon].percent+"%)\n";
  }

  let pokemon_embed = new Discord.RichEmbed()
  .setColor(p.color)
  .setThumbnail(p.sprite)
  .addField('**'+p.name+'** '+p.form+p.attack+'/'+p.defense+'/'+p.stamina+' ('+p.iv+'%)\n'
           +'Level '+p.level+' | CP '+p.cp+p.gender, 'Ht: '+p.height+'m | Wt: '+p.weight+'kg | '+p.size+'\n'
           +p.move_name_1+' '+p.move_type_1+' / '+p.move_name_2+' '+p.move_type_2, false)
  .addField(p.verified+'| '+p.time+' (*'+p.mins+'m '+p.secs+'s*) ', p.type+p.weather_boost, false)
  .addField("**Potential PvP CPs**", pvpString, false)
  .addField(p.area+' | Directions:',p.google+' | '+p.apple+' | '+p.pmsf, false)
  .setImage(p.map_img);

  return pokemon_embed;
}
