const Discord = require('discord.js');
module.exports = function(g) {

  // CREATE THE RAID EMBED
  let raid_embed = new Discord.RichEmbed()
  .setColor(g.color)
  .setThumbnail(g.sprite)
  .setAuthor(g.name, g.url)
  .setDescription(g.exraid+g.notes)
  .addField('**'+g.boss+'** '+g.form+'Raid', g.move_name_1+' '+g.move_type_1+' / '+g.move_name_2+' '+g.move_type_2, false)
  .addField('Raid Ends: '+g.end_time+' (*'+g.end_mins+' Mins*)','Level '+g.level+' | '+g.team+g.sponsor+'\nCounter(s): '+g.weaknesses,false)
  .addField('Min-Max Catch CP:',g.minCP+' - '+g.maxCP,true)
  .addField('Min-Max Boosted CP:',g.minCP_boosted+' - '+g.maxCP_boosted,true)
  .addField(g.area+' | Directions:',g.google+' | '+g.apple+' | '+g.pmsf,false)
  .setImage(g.static_map);

  return raid_embed;
}
