server {
    listen 80;
    server_name botimages.com www.botimages.com;

  	location /raid_tiles/ {
        # DIRECTORY OF RAID TILE FOLDER
        alias /wdr/static/images/raid_tiles/;
    }

    location /pokemon_tiles/ {
        # DIRECTORY OF POKEMON TILE FOLDER
        alias /wdr/static/images/pokemon_tiles/;
    }

    location /quest_tiles/ {
        # DIRECTORY OF QUEST TILE FOLDER
        alias /wdr/static/images/quest_tiles/;
    }

}
