module.exports = function(WDR, p) {

  // ADD YOUR CUSTOM SPACING
  if (p.form_name) {
    p.form_name = " " + p.form_name;
  }

  if (p.gender_wemoji) {
    p.gender_wemoji = " | " + p.gender_wemoji;
  } else {
    p.gender_wemoji = "";
  }

  //
  //------------------------------------------------------------------------------
  //  CUSTOMIZEABLE LIST FOR NAME, RANK, %, AND CP
  //------------------------------------------------------------------------------
  for (var pokemon_id in p.possible_cps) {

    let pipe = " | "; // SPACING

    let Name = WDR.Master.Pokemon[pokemon_id].name;

    let Level = "Lvl " + p.possible_cps[pokemon_id].level;

    let Cp = "CP " + p.possible_cps[pokemon_id].cp;

    let Rank = "Rank " + p.possible_cps[pokemon_id].rank;

    let Percent = p.possible_cps[pokemon_id].percent + "%";

    let string = "**" + Name + " (" + Percent + ") " + p.atk + "/" + p.def + "/" + p.sta + "** \n" + Rank + pipe + Level + pipe + Cp;

    p.pvp_data += string + "\n";
  }

  let Pokemon_Embed = new WDR.DiscordJS.MessageEmbed()
    .setColor(p.color)
    .setThumbnail(p.sprite)
    .setTitle(p.pvp_data)
    .setDescription("**" + p.name + "" + p.form_name + "** " + p.atk + "/" + p.def + "/" + p.sta + " (" + p.iv + "%)" + "\n" +
      "Level " + p.lvl + " | CP " + p.cp + p.gender_wemoji + "\n" +
      "Ht: " + p.height + "m | Wt: " + p.weight + "kg | " + p.size + "\n" +
      p.move_1_name + " " + p.move_1_type + " / " + p.move_2_name + " " + p.move_2_type + "\n" +
      "Despawn: **" + p.time + " (" + p.mins + "m " + p.secs + "s)** " + p.verified + "\n" +
      p.weather_boost + " \n" +
      "Directions:" + "\n" +
      p.google + " | " + p.apple + " | " + p.waze)
    .setImage(p.static_map);

  return Pokemon_Embed;
}

//------------------------------------------------------------------------------
//  AVAILABLE VARIABLES
//------------------------------------------------------------------------------
//    p.pvpString       -   String of PVP data
//    p.ranks       -   String of PVP Ranks
//    p.pvp_data        -   Lines of PVP Data
//    p.gen             -   Generation
//    p.name            -   Locale Name
//    p.form_name       -   Locale Form Name
//    p.id              -   Pokedex ID
//    p.sprite          -   Sprite Image
//    p.iv              -   Internal Value
//    p.cp              -   CP
//    p.gender_wemoji   - Gender with Emoji
//    p.gender_noemoji  - Gender without Emoji
//    p.height          -   Take a wild guess
//    p.weight          -   Probably cant figure this one out
//    p.type            -   Type(s) Emoji(s)
//    p.type_noemoji    -   Type(s) Wording
//    p.color           -   Type Color (Hex)
//    p.weather_boost   -   If Weather-Boosted
//    p.lat             -   GPS Latitude
//    p.lon             -   GPS Longitude
//    p.area            -   Geofence Area of the Sighting
//    p.move_1_name     -   Locale Move 1 Name
//    p.move_2_name     -   Locale Move 2 Name
//    p.move_1_type     -   Move 1 Type Emoji
//    p.move_2_type     -   Move 2 Type Emoji
//    p.map_url         -   Map URL
//    p.google          -   Google Directions URL
//    p.apple           -   Apple Directions URL
//    p.waze            -   Waze Directions URL
//    p.pmsf            -   PMSF Map Link to the Sighting
//    p.rdm             -   RDM Map Link to the Sighting
//    p.static_map      -   Static Map Tile Image
//    p.verified        -   Spawnpoint Timer Verified Emoji (Yes/No)
//    p.time            -   Despawn Time
//    p.mins            -   Despawn Minutes
//    p.secs            -   Despawn Seconds
//    p.atk             -   Attack IV
//    p.def             -   Defense IV
//    p.sta             -   Stamina IV
//    p.lvl             -   Level
