{
	"Type": "quest",
	"Rewards": [
		"Ultra Ball",
		"Hyper Potion",
		"Max Potion",
		"Max Revive",
		"Golden Razz Berry",
		"Fast TM",
		"Charged TM",
		"Rare Candy",
		"Star Piece",
		"1000 Stardust",
		"1500 Stardust",
		"Silver Pinap Berry"
	]
}
