; EXAMPLE:
; [CHANNEL ID]
; geofences = geofence name,geofence name,geofence name
; filter = filtername.json

; "geofences" can either be an area name set in your geofences.json
; OR the name of a discord in discords.ini or a mix of both.
; Separate geofence names with a comma.
; "filter" must be the file name of the filter you with to use for that channel.

[511303614032248843]
geofences = Tallahassee
filter = Quest_Encounters.json
embed = quests.js
roleid = 530525516290326529

[511701871304638505]
geofences = Tallahassee
filter = Quest_Items.json

[520598795164319745]
geofences = Gainesville
filter = Quest_Encounters.json

[520598686133125121]
geofences = Gainesville
filter = Quest_Items.json
