; EXAMPLE:
; [CHANNEL ID]
; geofences = geofence name,geofence name,geofence name
; filter = filtername.json

; "geofences" can either be an area name set in your geofences.json
; OR the name of a discord in discords.ini or a mix of both.
; Separate geofence names with a comma.
; "filter" must be the file name of the filter you with to use for that channel.

[458789990017662986]
geofences = Tallahassee
filter = Raids_Level5.json
embed = raids.js
embed_egg = raid_eggs.js
roleid = 530525516290326529

[458790935908843520]
geofences = Tallahassee
embed_egg = raid_eggs.js
filter = Raids_Level5_Egg.json

[458791546959953920]
geofences = Tallahassee
filter = Raids_Ex_Eligible.json

[458791583291146250]
geofences = Tallahassee
filter = Raids_Ex_Eligible_Egg.json

[458790613811462144]
geofences = Tallahassee
filter = Raids_Level3&4.json

[458789953602584599]
geofences = Tallahassee
filter = Raids_Level3&4_Egg.json

[458790531301113857]
geofences = Tallahassee
filter = Raids_Level1&2.json

[458790438103416834]
geofences = Tallahassee
filter = Raids_Level1&2_Egg.json

[520598988874055681]
geofences = Gainesville
filter = Raids_Level5.json

[520599013972639754]
geofences = Gainesville
filter = Raids_Level5_Egg.json

[520599047388659723]
geofences = Gainesville
filter = Raids_Ex_Eligible.json

[520599077675597825]
geofences = Gainesville
filter = Raids_Ex_Eligible_Egg.json

[520599208101806100]
geofences = Gainesville
filter = Raids_Level3&4.json

[520599251638550528]
geofences = Gainesville
filter = Raids_Level3&4_Egg.json

[520599298195324930]
geofences = Gainesville
filter = Raids_Level1&2.json

[520599329527037952]
geofences = Gainesville
filter = Raids_Level1&2_Egg.json

[528910360556863492]
geofences = Central
filter = Raids_Level5.json
