{
	"Type": "pokemon",
	"Post_Without_IV": false,
	"min_iv": 70,
	"max_iv": 100,
	"min_level": 35,
	"max_level": 100,
	"Bulbasaur": "True",
	"Ivysaur": "True",
	"Venusaur": "True",
	"Charmander": "True",
	"Charmeleon": "True",
	"Charizard": "True",
	"Squirtle": "True",
	"Wartortle": "True",
	"Blastoise": "True",
	"Caterpie": "True",
	"Metapod": "True",
	"Butterfree": "True",
	"Weedle": "True",
	"Kakuna": "True",
	"Beedrill": "True",
	"Pidgey": "True",
	"Pidgeotto": "True",
	"Pidgeot": "True",
	"Rattata": "True",
	"Raticate": "True",
	"Spearow": "True",
	"Fearow": "True",
	"Ekans": "True",
	"Arbok": "True",
	"Pikachu": "True",
	"Raichu": "True",
	"Sandshrew": "True",
	"Sandslash": "True",
	"Nidoranɤ": "True",
	"Nidorina": "True",
	"Nidoqueen": "True",
	"Nidoran♂": "True",
	"Nidorino": "True",
	"Nidoking": "True",
	"Clefairy": "True",
	"Clefable": "True",
	"Vulpix": "True",
	"Ninetales": "True",
	"Jigglypuff": "True",
	"Wigglytuff": "True",
	"Zubat": "True",
	"Golbat": "True",
	"Oddish": "True",
	"Gloom": "True",
	"Vileplume": "True",
	"Paras": "True",
	"Parasect": "True",
	"Venonat": "True",
	"Venomoth": "True",
	"Diglett": "True",
	"Dugtrio": "True",
	"Meowth": "True",
	"Persian": "True",
	"Psyduck": "True",
	"Golduck": "True",
	"Mankey": "True",
	"Primeape": "True",
	"Growlithe": "True",
	"Arcanine": "True",
	"Poliwag": "True",
	"Poliwhirl": "True",
	"Poliwrath": "True",
	"Abra": "True",
	"Kadabra": "True",
	"Alakazam": "True",
	"Machop": "True",
	"Machoke": "True",
	"Machamp": "True",
	"Bellsprout": "True",
	"Weepinbell": "True",
	"Victreebel": "True",
	"Tentacool": "True",
	"Tentacruel": "True",
	"Geodude": "True",
	"Graveler": "True",
	"Golem": "True",
	"Ponyta": "True",
	"Rapidash": "True",
	"Slowpoke": "True",
	"Slowbro": "True",
	"Magnemite": "True",
	"Magneton": "True",
	"Farfetch'd": "True",
	"Doduo": "True",
	"Dodrio": "True",
	"Seel": "True",
	"Dewgong": "True",
	"Grimer": "True",
	"Muk": "True",
	"Shellder": "True",
	"Cloyster": "True",
	"Gastly": "True",
	"Haunter": "True",
	"Gengar": "True",
	"Onix": "True",
	"Drowzee": "True",
	"Hypno": "True",
	"Krabby": "True",
	"Kingler": "True",
	"Voltorb": "True",
	"Electrode": "True",
	"Exeggcute": "True",
	"Exeggutor": "True",
	"Cubone": "True",
	"Marowak": "True",
	"Hitmonlee": "True",
	"Hitmonchan": "True",
	"Lickitung": "True",
	"Koffing": "True",
	"Weezing": "True",
	"Rhyhorn": "True",
	"Rhydon": "True",
	"Chansey": "True",
	"Tangela": "True",
	"Kangaskhan": "True",
	"Horsea": "True",
	"Seadra": "True",
	"Goldeen": "True",
	"Seaking": "True",
	"Staryu": "True",
	"Starmie": "True",
	"Mr. Mime": "True",
	"Scyther": "True",
	"Jynx": "True",
	"Electabuzz": "True",
	"Magmar": "True",
	"Pinsir": "True",
	"Tauros": "True",
	"Magikarp": "True",
	"Gyarados": "True",
	"Lapras": "True",
	"Ditto": "True",
	"Eevee": "True",
	"Vaporeon": "True",
	"Jolteon": "True",
	"Flareon": "True",
	"Porygon": "True",
	"Omanyte": "True",
	"Omastar": "True",
	"Kabuto": "True",
	"Kabutops": "True",
	"Aerodactyl": "True",
	"Snorlax": "True",
	"Articuno": "True",
	"Zapdos": "True",
	"Moltres": "True",
	"Dratini": "True",
	"Dragonair": "True",
	"Dragonite": "True",
	"Mewtwo": "True",
	"Mew": "True",
	"Chikorita": "True",
	"Bayleef": "True",
	"Meganium": "True",
	"Cyndaquil": "True",
	"Quilava": "True",
	"Typhlosion": "True",
	"Totodile": "True",
	"Croconaw": "True",
	"Feraligatr": "True",
	"Sentret": "True",
	"Furret": "True",
	"Hoothoot": "True",
	"Noctowl": "True",
	"Ledyba": "True",
	"Ledian": "True",
	"Spinarak": "True",
	"Ariados": "True",
	"Crobat": "True",
	"Chinchou": "True",
	"Lanturn": "True",
	"Pichu": "True",
	"Cleffa": "True",
	"Igglybuff": "True",
	"Togepi": "True",
	"Togetic": "True",
	"Natu": "True",
	"Xatu": "True",
	"Mareep": "True",
	"Flaaffy": "True",
	"Ampharos": "True",
	"Bellossom": "True",
	"Marill": "True",
	"Azumarill": "True",
	"Sudowoodo": "True",
	"Politoed": "True",
	"Hoppip": "True",
	"Skiploom": "True",
	"Jumpluff": "True",
	"Aipom": "True",
	"Sunkern": "True",
	"Sunflora": "True",
	"Yanma": "True",
	"Wooper": "True",
	"Quagsire": "True",
	"Espeon": "True",
	"Umbreon": "True",
	"Murkrow": "True",
	"Slowking": "True",
	"Misdreavus": "True",
	"Unown": "True",
	"Wobbuffet": "True",
	"Girafarig": "True",
	"Pineco": "True",
	"Forretress": "True",
	"Dunsparce": "True",
	"Gligar": "True",
	"Steelix": "True",
	"Snubbull": "True",
	"Granbull": "True",
	"Qwilfish": "True",
	"Scizor": "True",
	"Shuckle": "True",
	"Heracross": "True",
	"Sneasel": "True",
	"Teddiursa": "True",
	"Ursaring": "True",
	"Slugma": "True",
	"Magcargo": "True",
	"Swinub": "True",
	"Piloswine": "True",
	"Corsola": "True",
	"Remoraid": "True",
	"Octillery": "True",
	"Delibird": "True",
	"Mantine": "True",
	"Skarmory": "True",
	"Houndour": "True",
	"Houndoom": "True",
	"Kingdra": "True",
	"Phanpy": "True",
	"Donphan": "True",
	"Porygon2": "True",
	"Stantler": "True",
	"Smeargle": "True",
	"Tyrogue": "True",
	"Hitmontop": "True",
	"Smoochum": "True",
	"Elekid": "True",
	"Magby": "True",
	"Miltank": "True",
	"Blissey": "True",
	"Raikou": "True",
	"Entei": "True",
	"Suicune": "True",
	"Larvitar": "True",
	"Pupitar": "True",
	"Tyranitar": "True",
	"Lugia": "True",
	"Ho-Oh": "True",
	"Celebi": "True",
	"Treecko": "True",
	"Grovyle": "True",
	"Sceptile": "True",
	"Torchic": "True",
	"Combusken": "True",
	"Blaziken": "True",
	"Mudkip": "True",
	"Marshtomp": "True",
	"Swampert": "True",
	"Poochyena": "True",
	"Mightyena": "True",
	"Zigzagoon": "True",
	"Linoone": "True",
	"Wurmple": "True",
	"Silcoon": "True",
	"Beautifly": "True",
	"Cascoon": "True",
	"Dustox": "True",
	"Lotad": "True",
	"Lombre": "True",
	"Ludicolo": "True",
	"Seedot": "True",
	"Nuzleaf": "True",
	"Shiftry": "True",
	"Taillow": "True",
	"Swellow": "True",
	"Wingull": "True",
	"Pelipper": "True",
	"Ralts": "True",
	"Kirlia": "True",
	"Gardevoir": "True",
	"Surskit": "True",
	"Masquerain": "True",
	"Shroomish": "True",
	"Breloom": "True",
	"Slakoth": "True",
	"Vigoroth": "True",
	"Slaking": "True",
	"Nincada": "True",
	"Ninjask": "True",
	"Shedinja": "True",
	"Whismur": "True",
	"Loudred": "True",
	"Exploud": "True",
	"Makuhita": "True",
	"Hariyama": "True",
	"Azurill": "True",
	"Nosepass": "True",
	"Skitty": "True",
	"Delcatty": "True",
	"Sableye": "True",
	"Mawile": "True",
	"Aron": "True",
	"Lairon": "True",
	"Aggron": "True",
	"Meditite": "True",
	"Medicham": "True",
	"Electrike": "True",
	"Manectric": "True",
	"Plusle": "True",
	"Minun": "True",
	"Volbeat": "True",
	"Illumise": "True",
	"Roselia": "True",
	"Gulpin": "True",
	"Swalot": "True",
	"Carvanha": "True",
	"Sharpedo": "True",
	"Wailmer": "True",
	"Wailord": "True",
	"Numel": "True",
	"Camerupt": "True",
	"Torkoal": "True",
	"Spoink": "True",
	"Grumpig": "True",
	"Spinda": "True",
	"Trapinch": "True",
	"Vibrava": "True",
	"Flygon": "True",
	"Cacnea": "True",
	"Cacturne": "True",
	"Swablu": "True",
	"Altaria": "True",
	"Zangoose": "True",
	"Seviper": "True",
	"Lunatone": "True",
	"Solrock": "True",
	"Barboach": "True",
	"Whiscash": "True",
	"Corphish": "True",
	"Crawdaunt": "True",
	"Baltoy": "True",
	"Claydol": "True",
	"Lileep": "True",
	"Cradily": "True",
	"Anorith": "True",
	"Armaldo": "True",
	"Feebas": "True",
	"Milotic": "True",
	"Castform": "True",
	"Kecleon": "True",
	"Shuppet": "True",
	"Banette": "True",
	"Duskull": "True",
	"Dusclops": "True",
	"Tropius": "True",
	"Chimecho": "True",
	"Absol": "True",
	"Wynaut": "True",
	"Snorunt": "True",
	"Glalie": "True",
	"Spheal": "True",
	"Sealeo": "True",
	"Walrein": "True",
	"Clamperl": "True",
	"Huntail": "True",
	"Gorebyss": "True",
	"Relicanth": "True",
	"Luvdisc": "True",
	"Bagon": "True",
	"Shelgon": "True",
	"Salamence": "True",
	"Beldum": "True",
	"Metang": "True",
	"Metagross": "True",
	"Regirock": "True",
	"Regice": "True",
	"Registeel": "True",
	"Latias": "True",
	"Latios": "True",
	"Kyogre": "True",
	"Groudon": "True",
	"Rayquaza": "True",
	"Jirachi": "True",
	"Deoxys": "True",
	"Turtwig": "True",
	"Grotle": "True",
	"Torterra": "True",
	"Chimchar": "True",
	"Monferno": "True",
	"Infernape": "True",
	"Piplup": "True",
	"Prinplup": "True",
	"Empoleon": "True",
	"Starly": "True",
	"Staravia": "True",
	"Staraptor": "True",
	"Bidoof": "True",
	"Bibarel": "True",
	"Kricketot": "True",
	"Kricketune": "True",
	"Shinx": "True",
	"Luxio": "True",
	"Luxray": "True",
	"Budew": "True",
	"Roserade": "True",
	"Cranidos": "True",
	"Rampardos": "True",
	"Shieldon": "True",
	"Bastiodon": "True",
	"Burmy": "True",
	"Wormadam": "True",
	"Mothim": "True",
	"Combee": "True",
	"Vespiquen": "True",
	"Pachirisu": "True",
	"Buizel": "True",
	"Floatzel": "True",
	"Cherubi": "True",
	"Cherrim": "True",
	"Shellos": "True",
	"Gastrodon": "True",
	"Ambipom": "True",
	"Drifloon": "True",
	"Drifblim": "True",
	"Buneary": "True",
	"Lopunny": "True",
	"Mismagius": "True",
	"Honchkrow": "True",
	"Glameow": "True",
	"Purugly": "True",
	"Chingling": "True",
	"Stunky": "True",
	"Skuntank": "True",
	"Bronzor": "True",
	"Bronzong": "True",
	"Bonsly": "True",
	"Mime Jr.": "True",
	"Happiny": "True",
	"Chatot": "True",
	"Spiritomb": "True",
	"Gible": "True",
	"Gabite": "True",
	"Garchomp": "True",
	"Munchlax": "True",
	"Riolu": "True",
	"Lucario": "True",
	"Hippopotas": "True",
	"Hippowdon": "True",
	"Skorupi": "True",
	"Drapion": "True",
	"Croagunk": "True",
	"Toxicroak": "True",
	"Carnivine": "True",
	"Finneon": "True",
	"Lumineon": "True",
	"Mantyke": "True",
	"Snover": "True",
	"Abomasnow": "True",
	"Weavile": "True",
	"Magnezone": "True",
	"Lickilicky": "True",
	"Rhyperior": "True",
	"Tangrowth": "True",
	"Electivire": "True",
	"Magmortar": "True",
	"Togekiss": "True",
	"Yanmega": "True",
	"Leafeon": "True",
	"Glaceon": "True",
	"Gliscor": "True",
	"Mamoswine": "True",
	"Porygon-Z": "True",
	"Gallade": "True",
	"Probopass": "True",
	"Dusknoir": "True",
	"Froslass": "True",
	"Rotom": "True",
	"Uxie": "True",
	"Mesprit": "True",
	"Azelf": "True",
	"Dialga": "True",
	"Palkia": "True",
	"Heatran": "True",
	"Regigigas": "True",
	"Giratina": "True",
	"Cresselia": "True",
	"Phione": "True",
	"Manaphy": "True",
	"Darkrai": "True",
	"Shaymin": "True",
	"Arceus": "True",
	"Victini": "True",
	"Snivy": "True",
	"Servine": "True",
	"Serperior": "True",
	"Tepig": "True",
	"Pignite": "True",
	"Emboar": "True",
	"Oshawott": "True",
	"Dewott": "True",
	"Samurott": "True",
	"Patrat": "True",
	"Watchog": "True",
	"Lillipup": "True",
	"Herdier": "True",
	"Stoutland": "True",
	"Purrloin": "True",
	"Liepard": "True",
	"Pansage": "True",
	"Simisage": "True",
	"Pansear": "True",
	"Simisear": "True",
	"Panpour": "True",
	"Simipour": "True",
	"Munna": "True",
	"Musharna": "True",
	"Pidove": "True",
	"Tranquill": "True",
	"Unfezant": "True",
	"Blitzle": "True",
	"Zebstrika": "True",
	"Roggenrola": "True",
	"Boldore": "True",
	"Gigalith": "True",
	"Woobat": "True",
	"Swoobat": "True",
	"Drilbur": "True",
	"Excadrill": "True",
	"Audino": "True",
	"Timburr": "True",
	"Gurdurr": "True",
	"Conkeldurr": "True",
	"Tympole": "True",
	"Palpitoad": "True",
	"Seismitoad": "True",
	"Throh": "True",
	"Sawk": "True",
	"Sewaddle": "True",
	"Swadloon": "True",
	"Leavanny": "True",
	"Venipede": "True",
	"Whirlipede": "True",
	"Scolipede": "True",
	"Cottonee": "True",
	"Whimsicott": "True",
	"Petilil": "True",
	"Lilligant": "True",
	"Basculin": "True",
	"Sandile": "True",
	"Krokorok": "True",
	"Krookodile": "True",
	"Darumaka": "True",
	"Darmanitan": "True",
	"Maractus": "True",
	"Dwebble": "True",
	"Crustle": "True",
	"Scraggy": "True",
	"Scrafty": "True",
	"Sigilyph": "True",
	"Yamask": "True",
	"Cofagrigus": "True",
	"Tirtouga": "True",
	"Carracosta": "True",
	"Archen": "True",
	"Archeops": "True",
	"Trubbish": "True",
	"Garbodor": "True",
	"Zorua": "True",
	"Zoroark": "True",
	"Minccino": "True",
	"Cinccino": "True",
	"Gothita": "True",
	"Gothorita": "True",
	"Gothitelle": "True",
	"Solosis": "True",
	"Duosion": "True",
	"Reuniclus": "True",
	"Ducklett": "True",
	"Swanna": "True",
	"Vanillite": "True",
	"Vanillish": "True",
	"Vanilluxe": "True",
	"Deerling": "True",
	"Sawsbuck": "True",
	"Emolga": "True",
	"Karrablast": "True",
	"Escavalier": "True",
	"Foongus": "True",
	"Amoonguss": "True",
	"Frillish": "True",
	"Jellicent": "True",
	"Alomomola": "True",
	"Joltik": "True",
	"Galvantula": "True",
	"Ferroseed": "True",
	"Ferrothorn": "True",
	"Klink": "True",
	"Klang": "True",
	"Klinklang": "True",
	"Tynamo": "True",
	"Eelektrik": "True",
	"Eelektross": "True",
	"Elgyem": "True",
	"Beheeyem": "True",
	"Litwick": "True",
	"Lampent": "True",
	"Chandelure": "True",
	"Axew": "True",
	"Fraxure": "True",
	"Haxorus": "True",
	"Cubchoo": "True",
	"Beartic": "True",
	"Cryogonal": "True",
	"Shelmet": "True",
	"Accelgor": "True",
	"Stunfisk": "True",
	"Mienfoo": "True",
	"Mienshao": "True",
	"Druddigon": "True",
	"Golett": "True",
	"Golurk": "True",
	"Pawniard": "True",
	"Bisharp": "True",
	"Bouffalant": "True",
	"Rufflet": "True",
	"Braviary": "True",
	"Vullaby": "True",
	"Mandibuzz": "True",
	"Heatmor": "True",
	"Durant": "True",
	"Deino": "True",
	"Zweilous": "True",
	"Hydreigon": "True",
	"Larvesta": "True",
	"Volcarona": "True",
	"Cobalion": "True",
	"Terrakion": "True",
	"Virizion": "True",
	"Tornadus": "True",
	"Thundurus": "True",
	"Reshiram": "True",
	"Zekrom": "True",
	"Landorus": "True",
	"Kyurem": "True",
	"Keldeo": "True",
	"Meloetta": "True",
	"Genesect": "True",
	"Chespin": "True",
	"Quilladin": "True",
	"Chesnaught": "True",
	"Fennekin": "True",
	"Braixen": "True",
	"Delphox": "True",
	"Froakie": "True",
	"Frogadier": "True",
	"Greninja": "True",
	"Bunnelby": "True",
	"Diggersby": "True",
	"Fletchling": "True",
	"Fletchinder": "True",
	"Talonflame": "True",
	"Scatterbug": "True",
	"Spewpa": "True",
	"Vivillon": "True",
	"Litleo": "True",
	"Pyroar": "True",
	"Flab\u00e9b\u00e9": "True",
	"Floette": "True",
	"Florges": "True",
	"Skiddo": "True",
	"Gogoat": "True",
	"Pancham": "True",
	"Pangoro": "True",
	"Furfrou": "True",
	"Espurr": "True",
	"Meowstic": "True",
	"Honedge": "True",
	"Doublade": "True",
	"Aegislash": "True",
	"Spritzee": "True",
	"Aromatisse": "True",
	"Swirlix": "True",
	"Slurpuff": "True",
	"Inkay": "True",
	"Malamar": "True",
	"Binacle": "True",
	"Barbaracle": "True",
	"Skrelp": "True",
	"Dragalge": "True",
	"Clauncher": "True",
	"Clawitzer": "True",
	"Helioptile": "True",
	"Heliolisk": "True",
	"Tyrunt": "True",
	"Tyrantrum": "True",
	"Amaura": "True",
	"Aurorus": "True",
	"Sylveon": "True",
	"Hawlucha": "True",
	"Dedenne": "True",
	"Carbink": "True",
	"Goomy": "True",
	"Sliggoo": "True",
	"Goodra": "True",
	"Klefki": "True",
	"Phantump": "True",
	"Trevenant": "True",
	"Pumpkaboo": "True",
	"Gourgeist": "True",
	"Bergmite": "True",
	"Avalugg": "True",
	"Noibat": "True",
	"Noivern": "True",
	"Xerneas": "True",
	"Yveltal": "True",
	"Zygarde": "True",
	"Diancie": "True",
	"Hoopa": "True",
	"Volcanion": "True"
}
