{
	"Type": "quest",
	"Rewards": [
		"Chansey",
		"Larvitar",
		"Nincada",
		"Spinda",
		"Dratini",
		"Machop",
		"Feebas",
		"Misdreavus",
		"Bidoof",
		"Cubone",
		"Aerodactyl",
		"Lapras",
		"Electabuzz"
	]
}
