; EXAMPLE:
; [CHANNEL ID]
; geofences = geofence name,geofence name,geofence name
; filter = filtername.json

; "geofences" can either be an area name set in your geofences.json
; OR the name of a discord in discords.ini or a mix of both.
; Separate geofence names with a comma.
; "filter" must be the file name of the filter you with to use for that channel.

[537460180451983371]
geofences = Tallahassee
filter = Quest_Encounters.json

[537460213956214785]
geofences = Tallahassee
filter = Quest_Items.json

[536673792529924106]
geofences = Gainesville
filter = Quest_Encounters.json

[536673820182839296]
geofences = Gainesville
filter = Quest_Items.json

[540354431712100373]
geofences = Montgomery
filter = Quest_Encounters.json

[540354458165444608]
geofences = Montgomery
filter = Quest_Items.json

[558310346314481674]
geofences = Millbrook
filter = Quest_All.json

[558310363616247810]
geofences = Prattville
filter = Quest_All.json

[558310387137904674]
geofences = Wetumpka
filter = Quest_All.json

[535192085272461322]
geofences = Columbus
filter = Quest_Encounters.json

[535192088841814036]
geofences = Columbus
filter = Quest_Items.json

[625421991138033664]
geofences = Memphis
filter = Quest_Encounters.json

[625421992354512907]
geofences = Memphis
filter = Quest_Items.json

[704691028057129054]
geofences = OklahomaCity
filter = Quest_Encounters.json

[704691028057129055]
geofences = OklahomaCity
filter = Quest_Items.json

[708392330914168903]
geofences = OKC-Norman
filter = Quest_Encounters.json

[708392322873688116]
geofences = OKC-Norman
filter = Quest_Items.json

[708387515156922520]
geofences = OKC-Edmond
filter = Quest_Encounters.json

[708387500619464834]
geofences = OKC-Edmond
filter = Quest_Items.json
