#-------------------------------------------------------------------------------
# COMMAND PREFIX
#-------------------------------------------------------------------------------
PREFIX = "."

#-------------------------------------------------------------------------------
# BETA AND HIDDEN FEATURES
#-------------------------------------------------------------------------------
Admin_Enabled = YES
Distance_Sub_Enabled = YES

#-------------------------------------------------------------------------------
# Emoji servers to check First
#-------------------------------------------------------------------------------
EMOJI_SERVERS = ""

#-------------------------------------------------------------------------------
# Name the bot for embed dialogs
#-------------------------------------------------------------------------------
BOT_NAME = Pokebot

#-------------------------------------------------------------------------------
# Enable or Disable UIV scanning mode functionality
#-------------------------------------------------------------------------------
UIV = ENABLED

#-------------------------------------------------------------------------------
# Enable or Disable Console Logs
#-------------------------------------------------------------------------------
VERBOSE_LOGS = DISABLED

#-------------------------------------------------------------------------------
# Time mins reWDR for encounter to not post
#-------------------------------------------------------------------------------
TIME_REWDR = 5
TIME_REWDR_SUBS = 5

#-------------------------------------------------------------------------------
# CHECK FOR DONORS
#-------------------------------------------------------------------------------
Donor_Check = ENABLED


#-------------------------------------------------------------------------------
# LISTENING PORT
# You will need to add http://bot_host_ip:3333/ in RDM. You will need to port forward on your router if RDM does not reside in your local network.
#-------------------------------------------------------------------------------
LISTENING_PORT = 4444

#-------------------------------------------------------------------------------
# SPRITES & MAP TILES (Flo's Repo https://github.com/123FLO321/SwiftTileserverCache)
#-------------------------------------------------------------------------------
STATIC_MAP_URL = http://yourtilesite.com/
STATIC_SPRITE = https://raw.githubusercontent.com/PartTimeJS/Assets/master/pogo/monsters/
STATIC_WIDTH = 400
STATIC_HEIGHT = 220
STATIC_ZOOM = 16
COMPLEX_TILES = ENABLED

#-------------------------------------------------------------------------------
# Optional URL for your front end for [Scan Map] embed link
#-------------------------------------------------------------------------------
FRONTEND_URL =

#-------------------------------------------------------------------------------
# SPRITES
#-------------------------------------------------------------------------------
SPRITE_URL = https://raw.githubusercontent.com/PartTimeJS/Assets/master/pogo/monsters/

#-------------------------------------------------------------------------------
# YOUR TIMEZONE
#-------------------------------------------------------------------------------
TIMEZONE = America/New_York

#-------------------------------------------------------------------------------
# AUTO-DELETE MESSAGES IN COMMAND CHANNEL
#-------------------------------------------------------------------------------
Tidy_Channel = ENABLED

#-------------------------------------------------------------------------------
# WDR DATABASE CREDENTIALS
#-------------------------------------------------------------------------------
[wdrDB]
host =
username =
password =
port = 3306
db_name = rdmdb

#-------------------------------------------------------------------------------
# SCANNER DATABASE CREDENTIALS
#-------------------------------------------------------------------------------
[scannerDB]
host =
username =
password =
port = 3306
db_name = rdmdb

#-------------------------------------------------------------------------------
# PMSF DATABASE CREDENTIALS
#-------------------------------------------------------------------------------
[pmsfDB]
host =
username =
password =
port = 3306
db_name = manualdb

#-------------------------------------------------------------------------------
# TOKENS
# You can add up to 10 BOT_TOKENS[]. Delete any unused.
# The WDR token cannot be in the BOT_TOKEN[] section.
#-------------------------------------------------------------------------------
[TOKENS]
Hide_Bot_Tokens = ENABLED

WDR =
BOT_TOKENS[] =
BOT_TOKENS[] =
BOT_TOKENS[] =
BOT_TOKENS[] =
BOT_TOKENS[] =

#-------------------------------------------------------------------------------
QUESTS
#-------------------------------------------------------------------------------
[QUEST]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

# Default quest alert delivery time.
Default_Delivery = 09:00

# These is the Reward List that dictates what users can subscribe to for DMs
# To add a reward, add "Rewards[] = NEWREWARD" in whichever order you want it to appear in the embed.
# The reward names must match the reward names found in /static/en.json
# You can comment out old or unwanted rewards
Rewards[] = Unova Stone
Rewards[] = 1000 Stardust
Rewards[] = 1500 Stardust
Rewards[] = Charged TM
Rewards[] = Fast TM
Rewards[] = Golden Razz Berry
# Rewards[] = Hyper Potion
Rewards[] = Max Potion
Rewards[] = Max Revive
Rewards[] = Rare Candy
Rewards[] = Silver Pinap Berry
# Rewards[] = Star Piece
Rewards[] = Ultra Ball
Rewards[] = Bidoof
Rewards[] = Chansey
Rewards[] = Combusken
Rewards[] = Cubone
Rewards[] = Dratini
Rewards[] = Gastly
# Rewards[] = Misdreavus
# Rewards[] = Omanyte
Rewards[] = Lapras
Rewards[] = Larvitar
Rewards[] = Spinda

#-------------------------------------------------------------------------------
[RAID]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

#-------------------------------------------------------------------------------
[POKEMON]
Subscriptions = ENABLED
Discord_Feeds = ENABLED
sub_without_iv = DISABLED

#-------------------------------------------------------------------------------
[PVP]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

#-------------------------------------------------------------------------------
[LURE]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

#-------------------------------------------------------------------------------
[INVASION]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

#-------------------------------------------------------------------------------
[DEBUG]
Processing_Speed = ENABLED
Map_Tiles = DISABLED
Pokemon = ENABLED
PvP = ENABLED
