//##############################################################################
// Runs at 11:50pm Local Time.
//
// Example Query Object:
//
//  [
//    "scannerDB", // DB you want to target (scannerDB, wdrDB, or pmsfDB)
//    `DELETE FROM
//        pokemon
//     WHERE
//        first_seen_timestamp < UNIX_TIMESTAMP()-86400;`
//  ],
//
//##############################################################################

module.exports = [


];
