; EXAMPLE:
; [CHANNEL ID]
; geofences = geofence name,geofence name,geofence name
; filter = filtername.json

; "geofences" can either be an area name set in your geofences.json
; OR the name of a discord in discords.ini or a mix of both.
; Separate geofence names with a comma.
; "filter" must be the file name of the filter you with to use for that channel.

;[606148889480790036]
;geofences = Tallahassee
;embed = pokemon_iv.js
;filter = Test.json

[631463518918410270]
geofences = Tallahassee
embed = free_tlh.js
filter = Pokemon_Free.json

[507626057277505552]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_100.json

[622060846989836288]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_Ditto.json

[523329993988898816]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[507626170380976130]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[507626243378905108]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_0.json

[515519653204721665]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[533661073887461396]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[482619507530268683]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[507600060708683777]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[583731803966406657]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583731835574550532]
geofences = Tallahassee
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[520598528515506219]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_100.json

[523343972282794006]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[520598556990504970]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[520598581493760001]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_0.json

[520625838417379348]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[533661115607941120]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[520598612024098860]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[520598637009436672]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[583732389784715284]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583732434210783233]
geofences = Gainesville
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[540353765555830810]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_100.json

[540353793896873994]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[540353824208977947]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[540353854307565568]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_0.json

[540353876961001473]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[540353900813746176]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[540353942119251988]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[540353961631416350]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[583753080256856151]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583753100284788766]
geofences = Montgomery
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[558310189670072323]
geofences = Wetumpka
embed = pokemon_iv.js
filter = Pokemon_100.json

[558310228907786240]
geofences = Wetumpka
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[558309942336028673]
geofences = Wetumpka
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[583753516787564558]
geofences = Wetumpka
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583753505857077272]
geofences = Wetumpka
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[558310174662590476]
geofences = Millbrook
embed = pokemon_iv.js
filter = Pokemon_100.json

[558310238961401867]
geofences = Millbrook
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[558310215422836736]
geofences = Millbrook
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[583753558428483595]
geofences = Millbrook
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583753570466267139]
geofences = Millbrook
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[558309855065014273]
geofences = Prattville
embed = pokemon_iv.js
filter = Pokemon_100.json

[558309915643609089]
geofences = Prattville
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[558310202139475989]
geofences = Prattville
embed = pokemon_iv.js
filter = Pokemon_Uber.json


[583753146388709399]
geofences = Prattville
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583753116294578206]
geofences = Prattville
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[535192056654725141]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_100.json

[535192059292811270]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[535192063067553827]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[535192066360082433]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_0.json

[535192069589827584]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[535192072911716362]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[537807805609148435]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[537807825028644875]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_Candy.json


[583753758605967371]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[583753784111398913]
geofences = Columbus
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[598243327879544918]
geofences = Tallahassee
embed = pokemon.js
filter = Pokemon_Gible.json

[598243817501753354]
geofences = Gainesville
embed = pokemon.js
filter = Pokemon_Gible.json

[598243938804957209]
geofences = Columbus
embed = pokemon.js
filter = Pokemon_Gible.json

[598244019092586506]
geofences = Alabama
embed = pokemon.js
filter = Pokemon_Gible.json

[625421969180852234]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_100.json

[626856167192133652]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_Ditto.json

[625421975027712070]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[625421979255832577]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[625421980920840230]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_0.json

[626856395341430784]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[625421983714377730]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[625421985182384215]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[625421986654584854]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[625421988122329098]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[625421989540003863]
geofences = Memphis
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[625421970342805507]
geofences = Memphis
embed = pokemon.js
filter = Pokemon_Gible.json

[704691027751075876]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_100.json

[704691027751075878]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_Ditto.json

[704691027751075877]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[708388441552846865]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[704691027897876537]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_0.json

[704691027897876538]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[704691027897876536]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[704691027751075879]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[704691027897876530]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[704691027897876539]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[704691028057129051]
geofences = OklahomaCity
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[704691027751075875]
geofences = OklahomaCity
embed = pokemon.js
filter = Pokemon_Gible.json

[708392430289813626]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_100.json

[708387994356154368]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_Ditto.json

[709479820974751804]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[708392489652060190]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[708392546958573638]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_0.json

[708392554860773448]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[708392500317913088]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[708392453475926149]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[708392460262309928]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[708392568773279744]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[708392561525653534]
geofences = OKC-Norman
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[708392423138656328]
geofences = OKC-Norman
embed = pokemon.js
filter = Pokemon_Gible.json

[708387962169327637]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_100.json

[708388008260272179]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_Ditto.json

[708387979806376077]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_90-99.json

[704691027897876535]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_80-89.json

[708388421239832727]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_0.json

[708388377900351489]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_Max_Level.json

[708388430245265450]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_Level_1.json

[708388019325108234]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_Uber.json

[708388028766486591]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_Candy.json

[708388317867147374]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_TinyRat.json

[708388306525749328]
geofences = OKC-Edmond
embed = pokemon_iv.js
filter = Pokemon_BigKarp.json

[708387951184445521]
geofences = OKC-Edmond
embed = pokemon.js
filter = Pokemon_Gible.json
